.u-section-1 .u-sheet-1 {
  min-height: 400px;
}

.u-section-1 .u-text-1 {
  font-weight: 400;
  font-family: SaintCarell_PERSONAL_USE_ONLY;
  font-size: 3.75rem;
  margin: 62px auto 0;
}

.u-section-1 .u-text-2 {
  font-weight: 400;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 60px;
  font-size: 1.25rem;
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-1 .u-text-2 {
    font-size: 1rem;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    font-size: 1.875rem;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 552px;
}

.u-section-2 .u-list-1 {
  grid-template-rows: auto;
  margin-top: -130px;
  margin-bottom: 60px;
}

.u-section-2 .u-repeater-1 {
  grid-template-columns: 33.3333% 33.3333% 33.3333%;
  min-height: 468px;
  grid-gap: 0px 0px;
}

.u-section-2 .u-container-layout-1 {
  padding: 20px 0;
}

.u-section-2 .u-image-1 {
  height: 207px;
  width: 368px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,1);
  margin: 0 auto;
}

.u-section-2 .u-text-1 {
  margin: 27px auto 0;
}

.u-section-2 .u-text-2 {
  font-size: 1.25rem;
  margin: 12px 33px 0 27px;
}

.u-section-2 .u-btn-1 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  border-style: solid;
  text-transform: uppercase;
  margin: 7px auto 0 133px;
  padding: 2px 0;
}

.u-section-2 .u-container-layout-2 {
  padding: 20px 0;
}

.u-section-2 .u-image-2 {
  height: 207px;
  width: 368px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,1);
  margin: 0 auto;
}

.u-section-2 .u-text-3 {
  margin: 27px auto 0;
}

.u-section-2 .u-text-4 {
  font-size: 1.25rem;
  margin: 12px 33px 0 27px;
}

.u-section-2 .u-btn-2 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  border-style: solid;
  text-transform: uppercase;
  margin: 7px auto 0 133px;
  padding: 2px 0;
}

.u-section-2 .u-container-layout-3 {
  padding: 20px 0;
}

.u-section-2 .u-image-3 {
  height: 207px;
  width: 368px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,1);
  margin: 0 auto;
}

.u-section-2 .u-text-5 {
  margin: 27px auto 0;
}

.u-section-2 .u-text-6 {
  font-size: 1.25rem;
  margin: 12px 33px 0 27px;
}

.u-section-2 .u-btn-3 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  border-style: solid;
  text-transform: uppercase;
  margin: 7px auto 0 133px;
  padding: 2px 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-repeater-1 {
    grid-template-columns: repeat(3, 33.333333333333336%);
    min-height: 386px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-btn-1 {
    margin-left: 0;
  }

  .u-section-2 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-btn-2 {
    margin-left: 0;
  }

  .u-section-2 .u-text-6 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-btn-3 {
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-repeater-1 {
    grid-template-columns: repeat(2, 50%);
    min-height: 887px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-2 .u-text-2 {
    font-size: 1rem;
  }

  .u-section-2 .u-text-4 {
    font-size: 1rem;
  }

  .u-section-2 .u-text-6 {
    font-size: 1rem;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-image-1 {
    height: 191px;
    width: 340px;
  }

  .u-section-2 .u-image-2 {
    height: 191px;
    width: 340px;
  }

  .u-section-2 .u-image-3 {
    height: 191px;
    width: 340px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 552px;
}

.u-section-3 .u-list-1 {
  grid-template-rows: auto;
  margin-top: -50px;
  margin-bottom: 60px;
}

.u-section-3 .u-repeater-1 {
  grid-template-columns: 33.3333% 33.3333% 33.3333%;
  min-height: 468px;
  grid-gap: 0px 0px;
}

.u-section-3 .u-container-layout-1 {
  padding: 20px 16px;
}

.u-section-3 .u-image-1 {
  height: 213px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,1);
  margin: 0;
}

.u-section-3 .u-text-1 {
  margin: 31px auto 0;
}

.u-section-3 .u-text-2 {
  font-size: 1.25rem;
  margin: 29px 0 0 27px;
}

.u-section-3 .u-btn-1 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  border-style: solid;
  text-transform: uppercase;
  margin: 43px auto 0 121px;
  padding: 2px 0;
}

.u-section-3 .u-container-layout-2 {
  padding: 20px 16px;
}

.u-section-3 .u-image-2 {
  height: 213px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,1);
  margin: 0;
}

.u-section-3 .u-text-3 {
  margin: 31px auto 0;
}

.u-section-3 .u-text-4 {
  font-size: 1.25rem;
  margin: 29px 0 0 27px;
}

.u-section-3 .u-btn-2 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  border-style: solid;
  text-transform: uppercase;
  margin: 43px auto 0 121px;
  padding: 2px 0;
}

.u-section-3 .u-container-layout-3 {
  padding: 20px 16px;
}

.u-section-3 .u-image-3 {
  height: 213px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,1);
  margin: 0;
}

.u-section-3 .u-text-5 {
  margin: 31px auto 0;
}

.u-section-3 .u-text-6 {
  font-size: 1.25rem;
  margin: 29px 0 0 27px;
}

.u-section-3 .u-btn-3 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  border-style: solid;
  text-transform: uppercase;
  margin: 43px auto 0 121px;
  padding: 2px 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-repeater-1 {
    grid-template-columns: repeat(3, 33.333333333333336%);
    min-height: 386px;
  }

  .u-section-3 .u-image-1 {
    height: 172px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-text-2 {
    margin-left: 0;
  }

  .u-section-3 .u-btn-1 {
    margin-left: 0;
  }

  .u-section-3 .u-image-2 {
    height: 172px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-text-4 {
    margin-left: 0;
  }

  .u-section-3 .u-btn-2 {
    margin-left: 0;
  }

  .u-section-3 .u-image-3 {
    height: 172px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-text-6 {
    margin-left: 0;
  }

  .u-section-3 .u-btn-3 {
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-repeater-1 {
    grid-template-columns: repeat(2, 50%);
    min-height: 887px;
  }

  .u-section-3 .u-image-1 {
    height: 201px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-image-2 {
    height: 201px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-image-3 {
    height: 201px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-image-1 {
    height: 320px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-text-2 {
    font-size: 1rem;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-image-2 {
    height: 320px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-text-4 {
    font-size: 1rem;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-image-3 {
    height: 320px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-text-6 {
    font-size: 1rem;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-image-1 {
    height: 197px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-image-2 {
    height: 197px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-image-3 {
    height: 197px;
    margin-right: initial;
    margin-left: initial;
  }
}@font-face {
  font-family: 'SaintCarell_PERSONAL_USE_ONLY';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/SaintCarell_PERSONAL_USE_ONLY.otf);
}@font-face {
  font-family: 'TransformersMovie';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/TransformersMovie.ttf);
}