.u-section-1 .u-sheet-1 {
  min-height: 462px;
}

.u-section-1 .u-text-1 {
  margin: 34px 0 0;
}.u-section-2 .u-sheet-1 {
  min-height: 1225px;
}

.u-section-2 .u-text-1 {
  font-family: SaintCarell_PERSONAL_USE_ONLY;
  font-size: 3.75rem;
  margin: 0 auto 0 0;
}

.u-section-2 .u-text-2 {
  line-height: 1.8;
  font-size: 1.25rem;
  margin: 0 460px 0 0;
}

.u-section-2 .u-image-1 {
  width: 428px;
  height: 551px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,1);
  margin: -636px 32px 0 auto;
}

.u-section-2 .u-text-3 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: 108px auto 0 0;
}

.u-section-2 .u-image-2 {
  width: 312px;
  height: 420px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,1);
  margin: -9px 50px 0 auto;
}

.u-section-2 .u-text-4 {
  font-size: 1.25rem;
  margin: -361px auto 0 86px;
}

.u-section-2 .u-image-3 {
  width: 308px;
  height: 309px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,1);
  margin: -192px 387px 60px auto;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-1 {
    margin-left: -5px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 256px;
    margin-left: 5px;
  }

  .u-section-2 .u-image-1 {
    height: 550px;
    margin-left: 517px;
  }

  .u-section-2 .u-text-3 {
    margin-top: 72px;
  }

  .u-section-2 .u-image-2 {
    margin-top: 61px;
  }

  .u-section-2 .u-text-4 {
    margin-top: -341px;
    margin-left: 31px;
  }

  .u-section-2 .u-image-3 {
    margin-top: -249px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-text-2 {
    margin-right: 36px;
  }

  .u-section-2 .u-image-1 {
    margin-left: 297px;
  }

  .u-section-2 .u-text-4 {
    margin-left: 86px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-2 .u-text-2 {
    font-size: 1rem;
    margin-right: -5px;
  }

  .u-section-2 .u-image-1 {
    margin-left: 117px;
  }

  .u-section-2 .u-text-3 {
    font-size: 1rem;
    margin-top: 113px;
  }

  .u-section-2 .u-image-2 {
    margin-top: 6px;
  }

  .u-section-2 .u-text-4 {
    font-size: 1rem;
    margin-top: -324px;
  }

  .u-section-2 .u-image-3 {
    margin-right: 232px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1112px;
  }

  .u-section-2 .u-text-1 {
    font-size: 2.25rem;
    margin-left: -4px;
  }

  .u-section-2 .u-text-2 {
    margin-right: -4px;
  }

  .u-section-2 .u-image-1 {
    width: 340px;
    height: 437px;
    margin-right: 0;
    margin-left: 5px;
  }

  .u-section-2 .u-image-2 {
    margin-top: -19px;
    margin-right: 28px;
  }

  .u-section-2 .u-image-3 {
    margin-right: 32px;
    margin-bottom: 0;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 1029px;
}

.u-section-3 .u-text-1 {
  font-size: 3.75rem;
  font-family: SaintCarell_PERSONAL_USE_ONLY;
  margin: 0 auto;
}

.u-section-3 .u-text-2 {
  line-height: 1.8;
  font-size: 1.25rem;
  margin: 11px 0 0;
}

.u-section-3 .u-text-3 {
  background-image: none;
  font-weight: 700;
  font-size: 1.25rem;
  margin: 25px 0 60px;
}

@media (max-width: 767px) {
  .u-section-3 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-3 .u-text-2 {
    font-size: 1rem;
  }

  .u-section-3 .u-text-3 {
    font-size: 1rem;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-text-1 {
    font-size: 2.25rem;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 400px;
}

.u-section-4 .u-text-1 {
  font-family: SaintCarell_PERSONAL_USE_ONLY;
  font-size: 3.75rem;
  margin: 0 auto;
}

.u-section-4 .u-text-2 {
  font-weight: 400;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 60px;
  font-size: 1.25rem;
}

@media (max-width: 767px) {
  .u-section-4 .u-text-1 {
    margin-top: 60px;
    font-size: 3rem;
  }

  .u-section-4 .u-text-2 {
    font-size: 1rem;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-text-1 {
    font-size: 2.25rem;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 552px;
}

.u-section-5 .u-list-1 {
  grid-template-rows: auto;
  margin-top: -165px;
  margin-bottom: 60px;
}

.u-section-5 .u-repeater-1 {
  grid-template-columns: 33.3333% 33.3333% 33.3333%;
  min-height: 468px;
  grid-gap: 0px 0px;
}

.u-section-5 .u-container-layout-1 {
  padding: 20px 30px;
}

.u-section-5 .u-image-1 {
  height: 213px;
  margin: 0 auto 0 0;
}

.u-section-5 .u-text-1 {
  margin: 20px auto 0 0;
}

.u-section-5 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-5 .u-btn-1 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  border-style: none none solid;
  text-transform: uppercase;
  margin: 20px auto 0 0;
  padding: 2px 0;
}

.u-section-5 .u-container-layout-2 {
  padding: 20px 30px;
}

.u-section-5 .u-image-2 {
  height: 213px;
  margin: 0 auto 0 0;
}

.u-section-5 .u-text-3 {
  margin: 20px auto 0 0;
}

.u-section-5 .u-text-4 {
  margin: 20px 0 0;
}

.u-section-5 .u-btn-2 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  border-style: none none solid;
  text-transform: uppercase;
  margin: 20px auto 0 0;
  padding: 2px 0;
}

.u-section-5 .u-container-layout-3 {
  padding: 20px 30px;
}

.u-section-5 .u-image-3 {
  height: 213px;
  margin: 0 auto 0 0;
}

.u-section-5 .u-text-5 {
  margin: 20px auto 0 0;
}

.u-section-5 .u-text-6 {
  margin: 20px 0 0;
}

.u-section-5 .u-btn-3 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  border-style: none none solid;
  text-transform: uppercase;
  margin: 20px auto 0 0;
  padding: 2px 0;
}

@media (max-width: 1199px) {
  .u-section-5 .u-repeater-1 {
    grid-template-columns: repeat(3, 33.333333333333336%);
    min-height: 386px;
  }

  .u-section-5 .u-image-1 {
    height: 169px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-image-2 {
    height: 169px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-image-3 {
    height: 169px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-repeater-1 {
    grid-template-columns: repeat(2, 50%);
    min-height: 887px;
  }

  .u-section-5 .u-image-1 {
    height: 200px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-image-2 {
    height: 200px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-image-3 {
    height: 200px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-image-1 {
    height: 347px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-image-2 {
    height: 347px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-image-3 {
    height: 347px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-image-1 {
    height: 214px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-image-2 {
    height: 214px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-image-3 {
    height: 214px;
    margin-right: initial;
    margin-left: initial;
  }
}@font-face {
  font-family: 'SaintCarell_PERSONAL_USE_ONLY';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/SaintCarell_PERSONAL_USE_ONLY.otf);
}@font-face {
  font-family: 'TransformersMovie';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/TransformersMovie.ttf);
}